<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mqtt/css/templates.css'%}">

    <title>{% block title %}          {% endblock %}</title>

</head>
<body>
    <nav id="nav">
        <a href="/">Données</a>
        <a href="/graph">Graphique des données</a>
        <a href="/capteurs">Liste des capteurs</a>
    </nav>

   {% block img %}

    {% endblock %}

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>