{% extends "mqtt/templates.html" %}

{% block title %}Graphiques des Données par Capteur{% endblock %}

{% block content %}

<script>
    // Fonction pour recharger la page toutes les 5 secondes
    function autoRefresh() {
        setTimeout(function() {
            location.reload();
        }, 3000); // 3 secondes
    }

    // Appeler la fonction autoRefresh quand la page est complètement chargée
    window.onload = autoRefresh;
</script>

<body>
    <h1>Graphiques des Données par Capteur</h1>

    {% for graph in graphs %}
        <h2>Température mesurée par le Capteur {{ graph.nom }} en °C</h2>
        <img class="graph" src="data:image/png;base64,{{ graph.graph }}" alt="Graphique des Données">
        <hr>
    {% endfor %}
</body> 
{% endblock %}